<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 全局设置 -->
	<settings>
		<!--按照以下规则映射:把表字段名的下划线删除，并且单词首字母变大写,得到相应属性名,默认是false -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 开启全局缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>	
	<!-- 给实体类设置别名 -->

	<typeAliases>
		<!-- <typeAlias type="com.zrcx.entity.User" alias="User"/> -->
		<!-- 默认查找该包下的类 -->
		<package name="com.zryx.entity" />
	</typeAliases>
		  <!-- 分页插件 -->
	<plugins>  
        <!-- com.github.pagehelper为PageHelper类所在包名 -->  
        <plugin interceptor="com.github.pagehelper.PageHelper">  
            <property name="dialect" value="oracle"/>  
        </plugin>  
	</plugins> 	
	
</configuration> 
