@CHARSET "UTF-8";
body{
	padding: 0px;
	margin: 0px;
}

/* 列表页面容器 */
#div_list{
	width: 100%;
	background-color: #F5F5DC;
    margin: 0px auto;
    font-family: 华文中宋;		
    padding-top: 10px;
}
.fset{
	border-radius:10px; 
	width: 95%;
	margin: 0px auto;
}
/* 列表表格样式 */
.tab_list{
	border: 1px solid;
	width: 100%;
	border-collapse:collapse;/* 边框合并 */
}
.tab_list .title{
	font-size: 28px;
}
.tab_list th{
	border: 1px solid;
	background-color: #ADFF2F;
}
.tab_list td{
	border: 1px solid;
	text-align: center;
}
.tab_list td a{
	text-decoration: none;
}
/* 表单元素的宽度 */
.ipt{
    width: 176px;
    border: 1px solid;
}
/* 隔行变色样式 */
.tr0{
   background-color: #97FFFF;
}
.tr1{
   background-color: #D1EEEE;
}
/* --------------输入校验的样式------------- */
.focus{
	width: 176px; 
	border: 1px solid red;
}
.err{
	color:red;
	font-family: 华文中宋;
	font-size: 14px;
}  





